.home{
  background-color: silver;
  margin-top: 10px;
  padding-top: 20px;
}
.header{
  font-size: 30px;
  font-family: monospace;
  /* display cho nó dãn ra khi sd menu */
  text-decoration: none;
  display: flex;
  list-style: none;

}
a.header-a{
  display: flex;
  padding-left: 50px;
  padding-top: 10px;

}
a.header-a:hover{
  color: #FFFF;
}
.love-music{
  background-color: #AE1F70;
  width: 220px;
  height: 50px;
  font-size: 40px;
  margin-left: 2px;
}
.CV{
  padding-left: 20px;
  padding-right: 20px;
  background-color:  #334D4D;
}
.introdue{
  padding: 10px;
  font-size: 30px;
  text-align: left;
  border: 20px double yellow;
}
.about{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
#avt{
  width: 300px;
  height: 300px;
}
.image{
  width: 250px;
  height: 250px;
}
.name{
  font-size: 20px;
  font-family: inherit;
  padding-left: 20px;
}
.sign-up{
  background-color: #009688;
  text-align: center;
  width: 1505px;
  height: 150px;
  font-size: 20px;
}
.page{
  font-size: 50px;
  font-family: serif;
}
