/* *{
  margin: 0;
  padding: 0;
  border: 0;
} */
.home{
  background-color: silver;
  margin-top: 10px;
  padding-top: 20px;
}
.header{
  font-size: 30px;
  font-family: monospace;
  /* display cho nó dãn ra khi sd menu */
  text-decoration: none;
  display: flex;
  list-style-type: none;

}
a.header-a{
  display: flex;
  padding-left: 50px;
  padding-top: 10px;

}

a.header-a:hover{
  color: #FFFF;
}
.love-music{
  background-color: #AE1F70;
  width: 220px;
  height: 50px;
  font-size: 40px;
  margin-left: 2px;
}
#image{
  width: 1464px;
  padding-left: 206px;
}
.playlist{
  text-align: center;
  font-weight: 200;
  display: block;
  margin-top: 10px;
  padding: 10px;


}
.playlist-image{
  width: 290px;
  height: 200px;
  padding: 5px;

}
.h-album{
  padding-left: 145px;
}
.b-album{
  font-size: 30px;
  font-family: monospace;
  text-decoration: none;
  display: flex;
  list-style-type: none;
  padding-left: 10px;

}
.album{
  font-size: 20px;
  text-decoration: underline;
  padding-left: 80px;
  padding-top: 7px;
  color: #FFFF;
}
.album:hover{
  color: blue;
}
.singer{
  width: 250px;
  height: 180px;
  padding: 5px;
  border: 2px dotted black;
}
.sign-up{
  background-color: #009688;
  text-align: center;
  width: 1505px;
  height: 150px;
  font-size: 20px;
}
.page{
  font-size: 50px;
  font-family: serif;
}
